/* Importação de Fontes */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos Globais */
body {
  margin: 0;
  font-family: "Londrina Sketch", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-family: "Sour Gummy", sans-serif;
}

form {
  font-family: "Sour Gummy";
}
/* Responsividade */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  /* Alvo: Dispositivos com largura menor que 768px */
  .list-group.w-75 {
    width: 100% !important;
  }
}
